@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css");

.midget {
  font-size: 1.2rem;
  line-height: 1.237;
}

.weather_plus .subs {
	font-size: 50%;
}

.weather_plus .sups {
	display: inline-block;
	transform: translate(-25px, -7px) scale(0.5);
	margin-right: -20px;
}

.weather_plus .wi-strong-wind {
	color: cyan;
}

.weather_plus .wi-thermometer, 
.weather_plus .wi-humidity, 
.weather_plus .wi-sunset, 
.weather_plus .wi-sunrise,
.weather_plus .fa-binoculars {
	display: inline-block;
	transform: scale(0.65);
}

.weather_plus .wi-thermometer {
	color: gold;
	margin-top: 5px;
}

.weather_plus .fa-binoculars {
	color: violet;
	margin-left: -10px;
}

.weather_plus .fa-tint {
	transform: translate(0, 2px) scale(0.65);
}

.weather_plus .fa-tint-slash {
	transform: translate(0, 2px) scale(0.5);
	margin: 0 -10px;
	color: lime;
}

.weather_plus .fa-tint,
.weather_plus .dew,
.weather_plus .wi-humidity {
	color: skyblue;
}

.weather_plus .uvi,
.weather_plus .wi-sunset, 
.weather_plus .wi-sunrise {
	color: gold;
}

.weather_plus .xlarge {
	display: inline-block;
	transform: translate(-5px, -5px);
	letter-spacing: -5px;
	padding-right: 3px;
}

.weather_plus .weathericon {
	transform: translate(0, 20px);
	height: 70px;
	float: left;
}

.weather_plus .deg {
	font-size: 50%;
	font-weight: 400;
	margin-left: -30px;
}

.weather_plus .bright::first-letter {
	text-transform: capitalize;
}

.weather_plus .wi-day-sunny {
	content: url("icons/clear.png");
	transform: translate(0, 15px) scale(1.4);
}

.weather_plus .wi-day-cloudy {
	content: url("icons/mostlysunny.png");
}

.weather_plus .wi-cloudy {
	content: url("icons/cloudy.png");
}

.weather_plus .wi-cloudy-windy {
	content: url("icons/mostlycloudy.png");
}

.weather_plus .wi-showers {
	content: url("icons/chancerain.png");
}

.weather_plus .wi-rain {
	content: url("icons/rain.png");
}

.weather_plus .wi-thunderstorm {
	content: url("icons/tstorms.png");
}

.weather_plus .wi-snow {
	content: url("icons/snow.png");
}

.weather_plus .wi-fog {
	content: url("icons/cloudy.png");
}

.weather_plus .wi-night-clear {
	content: url("icons/nt_clear.png");
	transform: translate(0, 15px) scale(1.6);
}

.weather_plus .wi-night-alt-cloudy {
	content: url("icons/nt_cloudy.png");
}

.weather_plus .wi-night-cloudy {
	content: url("icons/nt_partlycloudy.png");
}

.weather_plus .wi-night-cloudy-windy {
	content: url("icons/nt_mostlycloudy.png");
}

.weather_plus .wi-night-showers {
	content: url("icons/nt_chancerain.png");
}

.weather_plus .wi-night-rain {
	content: url("icons/nt_rain.png");
}

.weather_plus .wi-night-thunderstorm {
	content: url("icons/nt_tstorms.png");
}

.weather_plus .wi-night-snow {
	content: url("icons/nt_snow.png");
}

.weather_plus .wi-night-alt-cloudy-windy {
	content: url("icons/nt_hazy.png");
}