.weather_plus .wtemp {
	position: relative;
	top: -10px;
	letter-spacing: -5px;
	padding-left: 10px;
}

.weather_plus .deg {
	position: absolute;
	top: 27px;
	right: 4px;
	font-size: 55%;
	font-weight: 400;
}

.weather_plus .real {
	position: relative;
	top: -10px;
	margin-bottom: -10px;
}

.weather_plus .rfd {
	margin-bottom: 5px;
}

.weather_plus .wicon {
	position: relative;
	top: 15px;
	height: 70px;
	float: left;
}

.weather_plus .wi-thermometer,
.weather_plus .wi-humidity,
.weather_plus .wi-sunset,
.weather_plus .wi-sunrise {
	font-size: 65%;
	padding: 0 3px;
}

.weather_plus .wi-alien {
	position: relative;
	top: -2px;
	font-size: 75%;
	color: violet;
	padding: 0 2px;
}

.weather_plus .pressure {
	margin-right: -10px;
}

.weather_plus .pressure sub {
	position: relative;
	top: -5px;
	left: -16px;
	font-size: 50%;
}

.weather_plus .wi-thermometer {
	position: relative;
	top: -1px;
	color: gold;
}

.weather_plus .maxTemp {
	color: tomato;
}

.weather_plus .minTemp {
	color: skyblue;
}

.weather_plus .minMax {
	color: silver;
}

.weather_plus .wi-humidity,
.weather_plus .wi-raindrop {
	position: relative;
	top: -2px;
	color: skyblue;
}

.weather_plus .wi-sunset,
.weather_plus .wi-sunrise {
	position: relative;
	top: -2px;
	color: goldenrod;
}

.weather_plus .wi-strong-wind {
	color: cyan;
}

.weather_plus .wi-day-sunny {
	content: url("icons/clear.png");
	transform: scale(1.4);
}

.weather_plus .wi-day-cloudy {
	content: url("icons/mostlysunny.png");
}

.weather_plus .wi-cloudy {
	content: url("icons/cloudy.png");
}

.weather_plus .wi-day-cloudy-windy {
	content: url("icons/mostlycloudy.png");
}

.weather_plus .wi-day-showers {
	content: url("icons/chancerain.png");
}

.weather_plus .wi-day-rain {
	content: url("icons/rain.png");
}

.weather_plus .wi-day-thunderstorm {
	content: url("icons/tstorms.png");
}

.weather_plus .wi-day-snow {
	content: url("icons/snow.png");
}

.weather_plus .wi-day-fog {
	content: url("icons/cloudy.png");
}

.weather_plus .wi-night-clear {
	content: url("icons/nt_clear.png");
	transform: scale(1.5);
}

.weather_plus .wi-night-alt-cloudy {
	content: url("icons/nt_cloudy.png");
}

.weather_plus .wi-night-cloudy {
	content: url("icons/nt_partlycloudy.png");
}

.weather_plus .wi-night-cloudy-windy {
	content: url("icons/nt_mostlycloudy.png");
}

.weather_plus .wi-night-showers {
	content: url("icons/nt_chancerain.png");
}

.weather_plus .wi-night-rain {
	content: url("icons/nt_rain.png");
}

.weather_plus .wi-night-thunderstorm {
	content: url("icons/nt_tstorms.png");
}

.weather_plus .wi-night-snow {
	content: url("icons/nt_snow.png");
}

.weather_plus .wi-night-alt-cloudy-windy {
	content: url("icons/nt_hazy.png");
}
